/* Custom Fonts and Google Fonts Import */

@font-face {
    font-family: 'Pokemon Normal';
    src: url('/assets/fonts/pokemon-normal.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('/assets/fonts/pokemon-solid.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap');

h1,
h2,
h3,
h4 {
    font-family: 'Pokemon Solid', 'Montserrat', sans-serif;
    font-weight: 800;
}

body {
    font-family: 'Pokémon Normal', 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #c8c8c8;
}

/* Background image */
.pokemon-background {
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    background: url("../assets/images/pokemon-city-background.jpg");
    background-repeat: repeat;
    background-size: cover;
    opacity: .7;
    z-index: -1;
}