/* Custom Fonts and Google Fonts Import */

@font-face {
    font-family: 'Pokemon Normal';
    src: url('/assets/fonts/pokemon-normal.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('/assets/fonts/pokemon-solid.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap');

/* Headings Styles */
h1,
h2,
h3,
h4 {
    font-family: 'Pokemon Solid', 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ffc700;
    font-size: 48px;
    margin-top: -5px;
}

/* Body Text */
body {
    font-family: 'Pokémon Normal', 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

/* Background image */
.pokemon-background {
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    background: url("../images/pokemon-city-background.jpg");
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
}

/* Game Box */

.game-box {
    background-color: black;
    height: 540px;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.game-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

#home {
    margin-right: 15px;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    flex-direction: column;
}

.menu-icon a {
    text-decoration: none;
}

.pokedex {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    margin-left: auto;
    flex-direction: column;
}

#home i,
#volume i,
.pokedex i {
    font-size: 24px;
}

.menu-icon:hover .fa-volume-up,
.menu-icon:hover .fa-volume-mute,
#home:hover i,
.pokedex i:hover,
.pokedex:hover .menu-icons {
    color: #ffad00;
    transform: translateY(-2px);
    text-decoration: none;
}

#volume .fa-volume-up {
    margin-right: 5px;
}

.home-screen-text {
    font-size: 20px;
}

.home-screen-name {
    margin-top: 35px;
}

.home-screen-name input[type="text"] {
    width: 66%;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    outline: none;
    font-size: 18px;
}

.home-screen-button button {
    margin-top: 30px;
    font-weight: bold;
    background-color: #ffc700;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-screen-button button:hover {
    background-color: #ffad00;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.home-screen-rule {
    position: absolute;
    top: 330px;
    right: 120px;
}

.home-screen-rule p {
    display: none;
    text-align: left;
    background-color: #ffc700;
    font-weight: bold;
    padding: 10px;
    width: 315px;
    position: absolute;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    line-height: 1.4;
}

.home-screen-rule i {
    cursor: pointer;
    font-size: 24px;
    position: relative;
}

.home-screen-rule:hover p {
    display: block;
    z-index: 50;
}

/* Modal content */

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#modal-content p,
li {
    font-size: 18px;
}

/* Duel area */

.duel-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.pokemon-image {
    width: 100px;
    height: 100px;
}

.pokemons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pokemon {
    position: relative;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid #E83030;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.pokemon:hover {
    background-color: #ffffff;
}

.type-images {

    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-left: 5px;
    margin-top: -40px;
    margin-bottom: -30px;
}

.type-images img {
    width: 60px;
    height: 60px;
    z-index: 1000;
    margin: 0 60px;
}

/* Footer */

.footer-container {
    position: fixed;
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    text-align: center;
    color: #ffffff;
}

.copyright {
    margin-top: 15px;
    color: #ffffff;
    font-size: 14px;
}

.social-icons a {
    color: #ffffff;
    font-size: 28px;
    margin-left: 5px;
}

.social-icons :hover {
    color: #ffad00;
    transform: translateY(-2px);
}